
.news-card img {
  width: 100%;
  height: auto;
}

.news-content {
  padding: 15px;
}

.news-content h3 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.news-content p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.news-content a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}